* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: white;
  scroll-behavior: smooth;
  user-select: none;
}

.typed-cursor {
  display: none;
}


:root {
  --bg-color: #2a2a2a;
  --main-color: #ff4d05;
  --black: #000;
}

body {
  background: url("images/wood.jpg");
  line-height: 1.5;
  transition: 1s;
}

.logo {
  text-decoration: none;
}

.logo:hover {
  background: mediumspringgreen;
  border-radius: 10px;
  padding: 3px 10px;
}

.description {
  font-weight: 350;
  transition: 1s;
}

.t {
  color: deeppink;
}

.r {
  color: lime;
}

.e {
  color: red;
}

.o {
  color: aqua;
}

.c {
  color: yellow;
}

.h {
  color: deepskyblue;
}

.description:hover {
  transform: scale(0.9);
  font-size: 17px;
}

header {
  padding: 25px 15%;
  position: absolute;
  top: 22%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 1000;
}

.nav-info {
  margin-top: 15%;
  margin-left: 40%;
  margin-right: 40%;
  white-space: nowrap;
}

.nav-info h2 {
  color: var(--main-color);
  margin-left: -35px;
}

.nav-info h3 {
  margin-left: -55px;
  margin-top: 0.5rem;
  color: yellow;

}

.navlist {
  display: flex;
  margin-left: 110px;
}

.navlist li {
  margin: 40px;
  z-index: 1000;
}

.navlist li a {
  font-weight: 500;
  margin-left: 7px;
}

.navlist li a:hover {
  color: var(--main-color);
}

.logo {
  font-size: 30px;
  color: white;
  margin-left: -35px;
  font-weight: 600;
  transition: 1s;
}

.menu-icon {
  font-size: 35px;
  display: none;
  margin-right: -35px;
}

.shuffle {
  margin-right: 3px;
  font-size: 40px;
}

.home {
  margin-top: 80%;
  margin-left: 20px;
}

.home h2 {
  color: yellow;
  background: black;
  border-radius: 5px;
  padding: 3px;
  transition: all 1s;
}

.home h2:hover {
  transform: scale(0.9);
}

.posts {
  margin-top: 70%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  align-items: center;

}

.box {
  width: 335px;
  margin-right: 10px;
  position: relative;
  margin-bottom: 60px;
}

.box img {
  width: 335px;
  height: 220px;
  margin-left: 12px;
  border-radius: 7px;
  border: 0.8px solid lime;
  margin-top: -90px;
}


.title {
  text-align: center;
  margin-left: 14px;
  margin-top: 30px;
  display: inline-block;
}

footer {
  margin-left: 6.5%;
  margin-top: 30px;
  position: absolute;

}

footer span {
  color: var(--main-color);
}

.goto-top {
  position: absolute;
  right: 30px;
  bottom: -75px;
  background: var(--main-color);
  padding: 15px;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  transition: 1s;
  font-size: 19px;
}

.goto-top a {
  color: lime;
}

footer h4 {
  margin: 25px 0px;
  font-weight: 400;
  text-align: center;
  margin-right: 15px;
  font-weight: 300;
}

footer h5 {
  font-weight: 300;
  text-align: center;
  margin-right: 15px;
  margin-bottom: 30px;
}

.navbar #anime {
  color: lime;
  
}

footer img {
  width: 50px;
  height: 50px;
  margin: 20px;
  border-radius: 50%;
  transform: scale(1.0);
  color: yellow;
}

footer .social-media {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-top: 45px;
}
.sm {
  width: 197px;
  border-radius: 7px;
  border: 1px solid deepskyblue;
  color: white;
  margin-top: 60px;
  font-weight: 400;
  margin-left: 7px;
  padding: 7px;
  background: purple;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  transition: 1s;
  white-space: nowrap;
  margin-bottom: 60px;
}

.social-media a {
  margin-right: 15px;
}

.social-media a i {
  background: var(--main-color);
  width: 40px;
  height: 40px;
  font-size: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: all .7s ease;
}

.social-media a i:hover {
  background: white;
  color: var(--main-color);
}

.social-media a {
  margin-right: 15px;
}

.social-medias a i {
  background: var(--main-color);
  width: 40px;
  height: 40px;
  font-size: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: all .7s ease;
  margin-right: 20px;
}

.social-medias a i:hover {
  background: white;
  color: var(--main-color);
}


.contact-us {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 10px;
}

.date-admin {
  margin-left: 15px;
  padding: 5px 10px;
  border-radius: 7px;
  width: 80px;
  transition: 1s;
  margin-bottom: 30px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date-admin p{
  background: red;
  padding: 5px;
  border-radius: 7px;
  transition: 1s;
  color: lime;
  margin-left: -.5rem;
  color: white;
  font-weight: 300;
}

.date-admin h5 a {
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 10.5rem;
  background: yellow;
  padding: 7px 10px;
  border-radius: 7px;
  transition: 1s;
  color: black;
  font-weight: 400;
}

.date-admin h5 {
  margin-top: 8%;
  transition: 1s;
}

.date-admin h5:hover{
  transform: scale(0.9);
}

.date-admin p:hover{
  transform: scale(0.9);
}

.topic {
  text-align: center;
  margin-left: 5%;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 5%;
  margin-bottom: -7%;
}

.admin h5 {
  color: black;
}

#msg::placeholder {
  color: white;
}

#msg {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid lime;
  width: 95%;
  margin-right: 7px;
  background: black;
  outline: none;
}

#msg::placeholder {
  color: yellow;
}

.contact-us textarea {
  height: 130px;
}

.contact-us textarea::placeholder {
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;

}

.contact-us button {
  font-size: 17px;
  background: black;
  padding: 10px;
  margin-top: 22px;
  border-radius: 8px;
  border: 1px solid white;
  color: yellow;
  transition: all 1.5s;
}

.contact-us button:hover {
  transform: scale(0.9);
  opacity: .5;
}

article {
  width: 90%;
  margin-left: 15px;
}

article h2{
  font-family: 'Times New Roman', Times, serif;
  margin: 15px 15px;
}

article p {
  text-align: justify;
}

@media (max-width: 840px) {
  .menu-icon {
    display: block;
    font-size: 35px;
  }
  .navlist {
    position: absolute;
    top: -1000px;
    left: 0;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
  }

  .menu-show {
    opacity: 1;
    position: absolute;
    top: 85%;
    left: 0;
    display: flex;
    flex-direction: column;
    background: url("stars-1654074__480.jpg");
    background-size: cover;
    background-position: center;

    font-size: 19px;
    width: 93%;
    margin-left: 5%;
    border-radius: 8px;
  }

  .menu-show li {
    margin: 20px;
    font-weight: 300;
  }

  .menu-show li a {
    color: lime;
  }

  .posts {
    margin-top: 100px;
  }
  .passage{
    max-width: 94%;
    margin-left: 3%;
    font-weight: 400;
    font-size: 16px;
  }
  .social-medias {
    display: none;
  }
  .title {
    display: none;
  }
  .box {
    margin-top: 115px;
  }
  .box img {
    margin-bottom: 20px;
  }
}


@media(min-width: 980px){
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 600px;
  }
  
  .box {
    margin: 30px;
    width: 250px;
  }

  .box img {
    width: 450px;
    height: 350px;
    border-radius: 15px;
  }

  .box p {
    margin-left: 35px;

    text-align: center;
  }

  .admin {
    margin-left: 230px;
  }

  .navbar {
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 25px;
  }

  .navbar #anime {
    font-size: 22px;
    margin-top: -350px;
    margin-left: 550px;
  }

  footer {
    margin-top: 100px;
  }

  .passage {
    font-size: 7px;
    line-height: 1.6;
    max-width: 1000px;
    padding: 20px;
    text-align: justify;
    width: 100%;
    margin-top: 30px;
    margin-left: 15px;
  }
  .title {
    position: absolute;
    width: 140%;
    height: 100%;
    left: 500px;
    top: -90px;
  }

  .goto-top {
    bottom: 100px;
  }
  .date {
    position: absolute;
    top: 51%;
    left: 67%;
  }
  .title1 {
    display: none;
  }
  .topic {
    position: absolute;
    left: 530px;
    top: 35px;
    width: 100%;
  }
  .social-medias {
    margin-left: 200px;
    display: flex;
    top: 48%;
    left: 350px;
    position: absolute;
  }
  .date-admin h5 {
    margin-right: -350px;
  }
  .date-admin p {
    margin-left: 5px;
  }
}


@media (orientation: landscape) {
  .navbar {
    z-index: 100;
    position: absolute;
    top: 380px;
    display: block;
  }
  .posts {
    margin-top: 500px;
  }
  header {
    margin-top: 170px;
  }
  .social-medias {
    position: absolute;
    top: 700px;
  }
  .passage {
    font-size: clamp(16px, 19px, 32px);
  }
}

@media (orientation: portrait) {
  .passage {
    font-size: clamp(16px, 17px, 22px);
  }
}